@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alef", sans-serif;
  /* font-size: 16px; */
  line-height: 1.5;
  background-color: #374349;
}

.container {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container .logo_img img {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100%;
  display: grid;
  align-content: center;
}

.main h1 {
  text-align: center;
  width: 100%;
  color: #fff;
  text-decoration: underline;
}

.main input {
  display: block;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #73838a;
  background: transparent;
  padding: 12px 10px;
  margin-top: 30px;
  font-size: 18px;
  font-family: "Alef", sans-serif;
  letter-spacing: 0.04em;
  color: #73838a;
  margin-bottom: 10px;
}

.main button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 60%;
  height: auto;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  background-color: #0dd1a2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.25s linear;
}

.main button:hover,
.main button:active {
  background-color: #fff;
  color: #000;
}

.main a {
  display: block;
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  color: #0dd1a2;
  text-decoration: none;
  font-size: 1.25rem;
}

.container .logo_img {
  position: relative;
}

.container .logo_img .vertical-divider {
  position: absolute;
  right: 1px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #afafaf;
}

.error,
.success {
  text-align: left;
  color: red;
  font-size: 1rem;
  margin-top: 5px;
  padding-left: 5px;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.error,
.success {
  text-align: center;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
}

.success {
  background-color: #0dd1a2;
}

@media screen and (max-width: 761px) {
  .container {
    display: block;
  }
  .container .logo_img {
    display: none;
  }
}
