@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alef", sans-serif;
  /* font-size: 16px; */
  line-height: 1.5;
  background-color: #374349;
}

.bold {
  font-weight: 800;
}

.green {
  color: #0dd1a2;
}

.white {
  color: #fff;
}

.u {
  text-decoration: underline;
}

.green-btn {
  background-color: #0dd1a2;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
  justify-content: center;
}

.green-btn:hover {
  background-color: #fff;
  color: #0dd1a2;
}

.nothing {
  background: Transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
  justify-content: center;
}

.nothing:hover {
  color: #0dd1a2;
  background: #000;
}
