.header {
  position: relative;
  width: 100vw;
  height: 150px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
}

.header .title {
  position: relative;
  z-index: 2;
  background-color: transparent;
  margin-left: 25px;
  font-weight: bold;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 40px auto;
  padding-top: 5px;
  align-items: center;
  align-self: baseline;
}

.header .title h4 {
  font-weight: bold;
  color: #fff;
  font-family: "Nunito", sans-serif !important;
}

.header .title .logo {
  position: relative;
  background-image: url("/assets/logo.svg");
  width: 50px;
  height: 50px;
  background-size: 175%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header .buttons {
  position: relative;
  z-index: 2;
  margin-right: 25px;
  margin-top: 5px;
}

.header .buttons .login {
  color: var(--primaryColor);
  background: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
}

.header .buttons .register {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.header .wave {
  position: absolute;
  top: 0;
  height: 100%;
  background-image: url("/assets/home_wave.svg");
  background-repeat: repeat-x;
  background-position: 0% 100%;
  background-size: contain;
  animation: wave 60s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  width: 6400px;
}

.section {
  position: relative;
  width: 100%;
  height: 75vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.section .content {
  margin-left: 25px;
}

.section .content .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.section .content .registerBtn {
  padding: 10px 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  font-size: 1.15rem;
}

.section .hero {
  position: relative;
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
}

.blob {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url("/assets/blob.svg");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.location {
  margin-top: 10px;
}

.location .input {
  width: 100%;
  margin-bottom: 5px;
}

.location .or {
  position: relative;
  margin-bottom: 5px;
}

.location .or span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background-color: black;
  height: 1px;
  z-index: 1;
}

.location .or p {
  position: relative;
  padding: 0 10px;
  width: fit-content;
  background-color: white;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.location .currLoc {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
}

.results {
  z-index: 1000;
}

.results .map {
  overflow: hidden;
  position: relative;
  height: 80vh;
  width: 95vw;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  box-shadow: inset 0 0 5px 0 #afafaf;
}

.questionsWave {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background-image: url("/assets/questions_wave.svg");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

@keyframes wave {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -2400px;
  }
}

@media screen and (max-width: 552px) {
  .header .buttons {
    margin-right: 5px;
  }

  .header .title {
    margin-left: 5px;
  }
}

@media screen and (max-width: 280px) {
  .header .buttons {
    display: none;
  }

  .header {
    grid-template-columns: 1fr;
  }

  .header .title {
    justify-self: center;
  }
}

@media screen and (max-width: 961px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .section .hero {
    height: 200px;
    margin-bottom: 10px;
  }

  .section .content {
    text-align: center;
    margin-left: 0;
    width: 95%;
  }

  .section .registerBtn {
    display: block;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
  }
}
